<script setup lang="ts">
import useDiscoursePost from '~/composables/useDiscoursePost'

interface PostProps {
  topicId: string | number
}
const props = defineProps<PostProps>()
const { post } = useDiscoursePost(Number(props.topicId))
</script>

<template>
  <div>
    anything here?
    <h1>{{ post?.title }}</h1>
    <div v-html="post?.content"></div>
  </div>
</template>

