<script lang="ts" setup>
import { computed, ref } from 'vue'
import { SortOrder } from 'ant-design-vue/lib/table/interface'
import { toDollars } from '~/utils/str'

export interface TableBaseRowType {
  key: string
  name: string
  amount?: number | string
}

export interface PresentationProps {
  rows: TableBaseRowType[]
  showSorter?: boolean
  showTotal?: boolean
  size?: 'small' | 'middle' | 'large'
  sortKey?: string
  sortOrder?: SortOrder
  total: string | number
}

const props = withDefaults(defineProps<PresentationProps>(), {
  showSorter: true,
  showTotal: true,
  size: 'middle',
  sortKey: 'name',
  sortOrder: 'ascend' as SortOrder,
  total: '$0.00'
})

// define emits with an emit called activeRecord with types
const emit = defineEmits<{
  viewEditingRecord: [payload: TableBaseRowType]
}>()


const sortKeyRef = toRef(props, 'sortKey')
const sortOrderRef = toRef(props, 'sortOrder')
const columns = computed(() => {
  return [
    {
      title: 'Name',
      dataIndex: 'name',
      key: 'name',
      sorter: true,
      sortOrder: sortOrderRef.value === 'ascend' ? 'ascend' : 'descend'
    },
    {
      title: 'Amount',
      dataIndex: 'amount',
      key: 'amount',
      sorter: true,
      sortOrder: sortOrderRef.value === 'ascend' ? 'ascend' : 'descend'
    }
  ]
})
const scrollHeight = ref({ y: 0 })

onMounted(() => {
  scrollHeight.value = maxHeightTable()
})

function openModal(record: TableBaseRowType) {
  emit('viewEditingRecord', record)
}
</script>

<template>
  <ASpace direction="vertical" size="large">
    <div v-if="showSorter" class="flex flex-row">
      <div class="basis-1/2">
        <slot name="tab" />
      </div>
      <div class="basis-1/2 text-right">
        <slot name="action" />
      </div>
    </div>
    <ATable
      :data-source="rows"
      :columns="columns"
      :pagination="false"
      size="middle"
      :scroll="scrollHeight"
    >
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'name'">
          <slot name="name" :record="record">
            {{ record.name }}
          </slot>
        </template>
        <template v-if="column.key === 'amount'">
          <slot name="amount" :record="record">
            <ATypographyText class="block hover:cursor-pointer" @click.prevent="openModal(record)" role="button" aria-pressed="false">
              {{ toDollars(record.amount) }}
            </ATypographyText>
          </slot>
        </template>
      </template>
      <template v-if="showTotal" #summary>
        <ATableSummary fixed>
          <ATableSummaryRow class="row-summary">
            <ATableSummaryCell>Total</ATableSummaryCell>
            <ATableSummaryCell class="column-money">
              <ATypographyText>{{ total }}</ATypographyText>
            </ATableSummaryCell>
            <ATableSummaryCell />
          </ATableSummaryRow>
        </ATableSummary>
      </template>
    </ATable>
  </ASpace>
</template>

<style lang="stylus" scoped>
.selected {
  font-weight: 600;
}
</style>
