
<script setup lang="ts">
import { toDollars } from '~/utils/str'
import type { CostContent } from '~/types/costs'
import { CostTypeLabels } from '~/utils/costs'
import { useCostAssumptions } from '~/store/costs'

import FixedPlus from '~/components/Calculator/Edit/Forms/FixedPlus.vue'
import Fixed from '~/components/Calculator/Edit/Forms/Fixed.vue'
import LinearFoot from '~/components/Calculator/Edit/Forms/LinearFoot.vue'
import Psf from '~/components/Calculator/Edit/Forms/Psf.vue'

interface EditData {
  content: CostContent
}
const props = defineProps<EditData>()

const costAssumptions = useCostAssumptions()

const updateCostPlusBase = (value: number) => {
  props.content.cost_plus_base = value
}

const calculatedCost = computed(() => {
  const cost = costAssumptions.calculateCost(props.content)
  return toDollars(cost)
})
</script>
<template>
  <div class="pt-12 pb-6">
    <AForm
      :label-col="{ span: 8 }"
      :wrapper-col="{ span: 16 }"
    >
      <AFormItem label="Total">
        <ATypographyText >
          <span class="font-bold">
            {{ calculatedCost }}
          </span> {{ costAssumptions.formHeader(content) }}</ATypographyText>
      </AFormItem>
      <AFormItem label="Cost Type">
        <ASelect v-model:value="content.cost_type">
          <ASelectOption v-for="(label, value) in CostTypeLabels" :key="value" :value="value">
            {{ label }}
          </ASelectOption>
        </ASelect>
      </AFormItem>
      <Fixed v-if="content.cost_type === 'fixed'"
        :cost-unit-value="content.cost_unit_value"
        @update:costUnitValue="(value: number) => content.cost_unit_value = value"
      />
      <Psf v-if="content.cost_type === 'psf'"
        :cost-unit-value="content.cost_unit_value"
        @update:costUnitValue="(value: number) => content.cost_unit_value = value"
      />
      <FixedPlus v-if="content.cost_type === 'fixed_plus'"
        :cost-plus-base="content.cost_plus_base"
        :cost-unit-value="content.cost_unit_value"
        @update:costPlusBase="updateCostPlusBase"
        @update:costUnitValue="(value: number) => content.cost_unit_value = value"
      />
      <LinearFoot v-if="content.cost_type === 'linear_foot'"
        :linear-foot-value="content.linear_foot_value"
        :cost-unit-value="content.cost_unit_value"
        @update:linearFootValue="(value: number) => content.linear_foot_value = value"
        @update:costUnitValue="(value: number) => content.cost_unit_value = value"
      />

      <AFormItem label="Your notes">
        <ATextarea
          v-model:value="content.note"
          placeholder="Enter your notes specific to your house"
          auto-size
        />
      </AFormItem>
    </AForm>
  </div>
</template>
