<script lang="ts" setup>
import { valueType } from 'ant-design-vue/es/statistic/utils';
import type { CostContent } from '~/types/costs'

interface EditData {
  costPlusBase: CostContent["cost_plus_base"]
  costUnitValue: CostContent["cost_unit_value"]
}
withDefaults(defineProps<EditData>(), {
  costPlusBase: 0,
  costUnitValue: 0
})

const emit = defineEmits({
  'update:costPlusBase': Number,
  'update:costUnitValue': Number
})

function updateCostPlusBase(value: valueType) {
  emit('update:costPlusBase', value)
}

function updateCostUnitValue(value: valueType) {
  emit('update:costUnitValue', value)
}
</script>

<template>
  <div>
    <AFormItem label="Base Cost">
      <AInputNumber :value="costPlusBase" @change="updateCostPlusBase" />
    </AFormItem>
    <AFormItem label="Extra per sq ft">
      <AInputNumber :value="costUnitValue" @change="updateCostUnitValue" />
    </AFormItem>
  </div>
</template>
