<script lang="ts" setup>
import { valueType } from 'ant-design-vue/es/statistic/utils';
import type { CostContent } from '~/types/costs'

interface EditData {
  linearFootValue: CostContent["linear_foot_value"]
  costUnitValue: CostContent["cost_unit_value"]
}
withDefaults(defineProps<EditData>(), {
  linearFootValue: 0,
  costUnitValue: 0
})

const emit = defineEmits({
  'update:linearFootValue': Number,
  'update:costUnitValue': Number
})

function updateLinearFootage(value: valueType) {
  console.info('updateLinearFootage', value)
  emit('update:linearFootValue', value)
}

function updateCostUnitValue(value: valueType) {
  emit('update:costUnitValue', value)
}
</script>

<template>
  <div>
    <AFormItem label="Linear Feet">
      <AInputNumber :value="linearFootValue" @change="updateLinearFootage" />
    </AFormItem>
    <AFormItem label="Cost Per Linear Foot">
      <AInputNumber :value="costUnitValue" @change="updateCostUnitValue" />
    </AFormItem>
  </div>
</template>
