<script lang="ts" setup>
import type { CostContent } from '~/types/costs'

interface EditData {
  costUnitValue: CostContent["cost_unit_value"]
}
withDefaults(defineProps<EditData>(), {
  costUnitValue: 0
})

const emit = defineEmits({
  'update:costUnitValue': Number
})

function updateCostUnitValue(value: number) {
  emit('update:costUnitValue', value)
}
</script>

<template>
  <div>
    <AFormItem label="Per sq ft (of total slab)">
      <AInputNumber :value="costUnitValue" @change="updateCostUnitValue" />
    </AFormItem>
  </div>
</template>
