<script lang="ts" setup>
const props = defineProps({
  text: {
    type: String,
    default: ''
  },
  to: {
    type: [String, Object],
    default: undefined
  },
  href: {
    type: String,
    default: ''
  }
})

//define emits
const emit = defineEmits(['click'])

// state
const href = toRef(props, 'href')
const to = toRef(props, 'to')

function handleClick() {
  emit('click')
}
</script>

<template>
  <NuxtLink
    v-if="to"
    tag="a"
    :to="to"
    :class="`transition-colors duration-300 dark:hover:text-white hover:text-gray-900 hover:underline`"
    @click="handleClick"
  >
    <slot>{{ text }}</slot>
  </NuxtLink>
  <a
    v-else
    :class="`transition-colors text-red-100 duration-300 dark:hover:text-white hover:text-gray-900 hover:underline`"
    :href="href"
    @click="handleClick"
  >
    <slot>{{ text }}</slot>
  </a>
</template>
