<script lang="ts" setup>
import { ref } from 'vue'
import dayjs from 'dayjs';
import 'chartjs-adapter-dayjs-4/dist/chartjs-adapter-dayjs-4.esm';

import {
  Chart as ChartJS,
  CategoryScale,
  Filler,
  LinearScale,
  PointElement,
  LineElement,
  TimeScale
} from 'chart.js'
import { Line } from 'vue-chartjs'
import { PriceRows } from '~/composables/useAirtablePrices'

ChartJS.register(
  CategoryScale,
  Filler,
  LinearScale,
  PointElement,
  LineElement,
  TimeScale
)

interface ChartData {
  rows: PriceRows | []
}

const props = defineProps<ChartData>()
const labels = ref(props.rows.map((row) => {
  const date = dayjs(row.Date, 'YYYY-MM-DD')
  return date.format('MM-DD-YY')
}))
const prices = ref(props.rows.map((row) => row.Price))


const chartData = ref({
    labels: labels.value,
    datasets: [
        {
            data: prices.value,
            borderColor: '#A3BE8C',
            borderWidth: 4,
            fill: false,
            pointBorderWidth: 0,
            spanGaps: true,
            tension: 0.4
        },
    ],
})

const options = ref({
  plugins: {
    // title: {
    //   display: false,
    //   text: 'Price History',
    //   font: {
    //     size: 20
    //   }
    // },
    legend: {
      display: false
    },
  },
  scales: {
    x: {
      ticks: {
        callback: function(_val: number, index: number, values: number[]) {
          // hide all but three labels
          const label = labels.value[index]
          if (index === 0 || index === values.length - 1 || index === Math.floor(values.length / 2)) {
            return label
          }
          return null;
        }
      }
    },
    y: {
      beginAtZero: false,
      grid: {
        drawOnChartArea: false
      },
      ticks: {
        // This is where the magic happens
        callback: function(value: number, _index: number, _values: number[]) {
            return '$' + value.toFixed(2);
        }
      },
      title: {
        display: false,
        text: 'Price at Big Box Retailer'
      }
    }
  }
})

</script>

<template>
  <div>
    <Line ref="chartElement" :data="chartData" :options="options" />
  </div>
</template>
