<!-- I cant get this to work with different sizez. -->
<script lang="ts" setup>
interface SvgProps {
  color?: 'white' | 'black'
}

const props = withDefaults(defineProps<SvgProps>(), {
  color: 'black'
})

const getColor = computed(() => {
  return props.color === 'white' ? '#FFF' : '#000'
})
</script>
<template>
  <svg
    class="logo"
    version="1.1"
    viewBox="0 0 265 252"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <title>OpenHouse</title>
    <g id="container" stroke-linecap="square">
      <g id="inner" :stroke="getColor" stroke-width="22">
        <path id="left" d="M12,101 L12,240.5"></path>
        <path id="bottom" d="M247,240.5 L12,240.5"></path>
        <path id="left-roof" d="M129.5,17 L16,92"></path>
        <path id="right-roof" d="M136,16 L249,92"></path>
        <path id="right" d="M253,101 L253,240.5"></path>
      </g>
    </g>
  </svg>
</template>
