<script setup lang="ts">
import { ref, computed } from 'vue'

interface TextClampProps {
  text: string;
  chars?: number;
}

// Text prop
const props = withDefaults(defineProps<TextClampProps>(), {
  chars: 50
})

const shortText = computed(() => {
  const shortend = props.text.slice(0, props.chars)
  return `${shortend}... <span class="text-blue inland hover:cursor-pointer">Read More</span>`
})

const longText = computed(() => {
  return `${props.text} <span class="text-blue inline hover:cursor-pointer">Read Less</span>`
})

const visibleText = computed(() => {

  if (props.text.length <= props.chars) {
    return props.text
  }
  return expanded.value ? longText.value : shortText.value
})

// State to track whether text is expanded or not
const expanded = ref(false)
</script>

<template>
  <div @click="expanded = !expanded">
    <span
      class="uno-text-sm uno-cursor-pointer"
      v-html="visibleText"
    ></span>
  </div>
</template>

