<script lang="ts" setup>
import { ref } from 'vue'
import dayjs from 'dayjs';
import 'chartjs-adapter-dayjs-4/dist/chartjs-adapter-dayjs-4.esm';
import { HomeDepotProduct } from '~/utils/homedepot'

import {
  Chart as ChartJS,
  CategoryScale,
  Filler,
  LinearScale,
  PointElement,
  LineElement,
  TimeScale
} from 'chart.js'
import { Line } from 'vue-chartjs'
import { PriceRows } from '~/composables/useAirtablePrices'

ChartJS.register(
  CategoryScale,
  Filler,
  LinearScale,
  PointElement,
  LineElement,
  TimeScale
)

interface ChartData {
  rows: PriceRows | []
  product: HomeDepotProduct
}

const props = defineProps<ChartData>()
const labels = ref(props.rows.map((row) => {
  const date = dayjs(row.Date, 'YYYY-MM-DD')
  return date.format('MM-DD-YY')
}))
const prices = ref(props.rows.map((row) => row.Price))
// const startPrice = prices.value[0]
// const startDate = labels.value[0]

const endPrice = prices.value[prices.value.length - 1]

const lowestPrice = Math.min(...prices.value)
const highestPrice = Math.max(...prices.value)
const pctChange = Number(((endPrice - prices.value[0]) / prices.value[0] * 100).toFixed(2));

const lowestPriceIndex = prices.value.indexOf(lowestPrice);

const chartData = ref({
    labels: labels.value,
    datasets: [
        {
            data: prices.value,
            borderColor: '#81A1C1',
            borderWidth: 4,
            fill: false,
            pointBorderWidth: 0,
            spanGaps: true
        },
    ],
})

// Update the dataset options to include pointBackgroundColor for the lowest price point
chartData.value.datasets[0].pointBackgroundColor = prices.value.map((price, index) => {
  if (price === lowestPrice && index === lowestPriceIndex) {
    return '#434C5E';
  } else if (price === highestPrice && index === prices.value.indexOf(highestPrice)) {
    return '#434C5E'; // Blue color for the first highest price point
  } else if (index === prices.value.length - 1) {
    return '#BF616A'; // Blue color for the last point
  } else {
    return 'rgba(0, 0, 0, 0)'; // Transparent color for other points
  }
});

const pointRadius = 4
chartData.value.datasets[0].pointRadius = prices.value.map((price, index) => {
  if (price === lowestPrice && index === lowestPriceIndex) {
    return pointRadius; // Larger size for the first lowest price point
  } else if (price === highestPrice && index === prices.value.indexOf(highestPrice)) {
    return pointRadius; // Larger size for the first highest price point
  } else if (index === prices.value.length - 1) {
    return pointRadius; // Larger size for the last point
  } else {
    return 0; // No point for other points
  }
});

// Update the chartData object
chartData.value = {
  labels: labels.value,
  datasets: [chartData.value.datasets[0]],
};

const options = ref({
  layout: {
    padding: {
      top: 0
    }
  },
  maintainAspectRatio: false,
  plugins: {
    legend: {
      display: false
    },
  },
  scales: {
    x: {
      display: false,
      ticks: {
        callback: function(_val: number, index: number, values: number[]) {
          // hide all but three labels
          const label = labels.value[index]
          if (index === 0 || index === values.length - 1 || index === Math.floor(values.length / 2)) {
            return label
          }
          return null;
        }
      }
    },
    y: {
      display: false,
      beginAtZero: false,
      grid: {
        drawOnChartArea: false
      },
      ticks: {
        callback: function(value: number, _index: number, _values: number[]) {
            return '$' + value.toFixed(2);
        }
      },
      title: {
        display: false,
        text: 'Price at Big Box Retailer'
      }
    }
  }
})

const getClassByPctChange = (pctChange: number) => {
  // const pctChangeNumber = parseFloat(pctChange); // or Number(pctChange)
  if (pctChange > 0) {
    return 'highest';
  } else if (pctChange < 0) {
    return 'lowest';
  } else {
    return '';
  }
}

</script>

<template>
  <div class="grid grid-cols-24">
    <div class="col-span-6">
      <div class="centered-col !items-end pr-6">
        <div class="responsive-font font-bold">
          {{ product.title }}
          <APopover>
            <template #content>
              {{ product.details }}
            </template>
            <span class="text-base align-middle">
              <InfoCircleOutlined />
            </span>
          </APopover>
        </div>
      </div>
    </div>
    <div class="col-span-9">
      <div class="line-chart">
        <Line ref="chartElement" :data="chartData" :options="options" />
      </div>
    </div>
    <div class="col-span-2">
      <div class="centered-col">
        <div class="responsive-font lowest">
          ${{  endPrice }}
        </div>
      </div>
    </div>
    <div class="col-span-3">
      <div class="centered-col">
        <div class="responsive-font" :class="getClassByPctChange(pctChange)">
          <span class="text-base align-middle">
            <ArrowUpOutlined v-if="pctChange > 0" two-tone-color="#eb2f96" />
            <ArrowDownOutlined v-if="pctChange < 0" />
          </span>
          {{ pctChange }}%
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="centered-col">
        <div class="responsive-font highest">
          ${{  lowestPrice }}
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="centered-col">
        <div class="responsive-font highest">
          ${{  highestPrice }}
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="stylus">
.responsive-font {
  font-size: 2vw; /* Adjust the value as needed */
  color: #4C566A;
}

.centered-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.line-chart {
  width: 100%;
  display: block;
  height: 66px;
}

.lowest {
  color: #BF616A;
}

.highest {
  color: #434C5E;
}
</style>

