@import 'variables.css';
@import 'typography';
@import 'layout';
@import 'forms';
@import 'buttons';

body,
* {
  color: var(--base-text-color);
  font-family: var(--font-family);
}

.ant-btn.ant-btn-primary span {
  color: #FFF;
}

img, svg {
  display: inline;
}

.openhouse {
  a {
    color: var(--primary-color);
    font-weight: 400;
    text-decoration: none;

    &.unstyled {
      color: inherit;
      font-weight: inherit;
    }
  }
}
