.openhouse {
  .label-large {
    .ant-form-item-label {
      padding-left: 16px;
      text-align: start;
    }
    label {
      font-size: 1.5rem;
      font-weight: 600;
      height: 64px;
    }
    input {
      font-size: 2rem;
    }
  }
}