<script setup lang="ts">
import type { CostContent } from '~/types/costs'

interface EditData {
  content?: CostContent
}
defineProps<EditData>()
</script>

<template>
  <CalculatorEditFormsBasic v-if="content" :content="content" />
  <DiscoursePost v-if="content?.discourse_id" :topic-id="content?.discourse_id" />
</template>