<template>
  <ALayout id="lists" class="openhouse bg-white">
    <ALayoutHeader class="nav-header pl-4 bg-white">
      <div>
        <ASpace size="large" class="w-min-full">
          <Anchor to="/"><Logo /></Anchor>
            <slot name="header" />
        </ASpace>
      </div>
    </ALayoutHeader>
    <ALayout class="bg-white">
      <ALayoutContent>
        <div class="p-12">
          <slot />
        </div>
      </ALayoutContent>
      <slot name="actions" />
    </ALayout>
    <ALayoutFooter class="bg-white">
      <slot name="footer" />
    </ALayoutFooter>
  </ALayout>
</template>

<style lang="stylus">
#lists {
  .logo {
    font-family: 'Kanit', sans-serif;
    left: 1rem;
    top: 3rem;
  }
}
</style>
