<script setup lang="ts">
import useAirtable from '~/composables/useAirtablePricesFiltered'
import TuftePriceChart from '~/components/TuftePriceChart.vue'
import { availableProducts, HomeDepotProduct,  } from '~/utils/homedepot'

definePageMeta({
  layout: false
})

const { params } = useRoute()
const { id } = params
const { id: homedepotId, title } = availableProducts[id as string] as HomeDepotProduct
let rows = await useAirtable(homedepotId as string)

const pages = Object.entries(availableProducts).map(([key, product]) => {
  return { key, title: product.title };
});
</script>

<template>
  <NuxtLayout name="default">
    <template #header>
      <a-dropdown>
        <a class="ant-dropdown-link" @click.prevent>
          <ATypographyTitle class="!mb-0">
            <span class="capitalize">
              {{ title }} Prices
            </span>
            <AButton type="primary" size="small" class="ml-2 align-middle">
              more products
            </AButton>
          </ATypographyTitle>
        </a>
        <template #overlay>
          <a-menu>
            <a-menu-item v-for="page in pages" :key="page.key">
              <Anchor :to="`/${page.key}`" class="capitalize">{{ page.title }}</Anchor>
            </a-menu-item>
          </a-menu>
        </template>
      </a-dropdown>

    </template>
    <section>
      <TuftePriceChart :rows="rows" />
    </section>
  </NuxtLayout>
</template>
