<script setup lang="ts">
import dayjs from 'dayjs';
import useAirtable from '~/composables/useAirtablePrices'
import TuftePriceChart from '~/components/TuftePriceChart.vue'
import { availableProducts } from '~/utils/homedepot'

definePageMeta({
  layout: false
})

let rows = await useAirtable()

const getRows = (id: string) => {
  return rows.filter((row) => row['Product ID'].toString() === id)
}

const labels = ref(rows.map((row) => {
  const date = dayjs(row.Date, 'YYYY-MM-DD')
  return date.format('MM-DD-YY')
}))
const endDate = labels.value[labels.value.length - 1]
</script>

<template>
  <NuxtLayout name="default">
    <template #header>
      <ATypographyTitle class="!mb-0">
        <span class="capitalize">
          Material Price Trends
        </span>
      </ATypographyTitle>
    </template>
    <section>
      <div class="grid grid-cols-24 border-bottom">
        <div class="col-span-15"></div>
        <div class="col-span-2">
          <div class="centered-col">
            <div class="responsive-font lowest">
              {{  endDate }}
            </div>
          </div>
        </div>
        <div class="col-span-3">
          <div class="centered-col">
            <div class="responsive-font">
              % Change (1YR)
            </div>
          </div>
        </div>
        <div class="col-span-2">
          <div class="centered-col">
            <div class="responsive-font highest">
              Low
            </div>
          </div>
        </div>
        <div class="col-span-2">
          <div class="centered-col">
            <div class="responsive-font highest">
              High
            </div>
          </div>
        </div>
      </div>
      <div v-for="product in availableProducts" :key="product['id']" class="py-12">
        <TuftePriceChart :rows="getRows(product.id)" :product="product"/>
      </div>
    </section>
    <section>
      <ATypographyText class="note">Source: Big Box Store in Austin, Texas. More locations to come.</ATypographyText>
    </section>
  </NuxtLayout>
</template>

<style lang="stylus" scoped>
.responsive-font {
  font-size: 1.4vw; /* Adjust the value as needed */
  color: #2E3440;
  font-weight: 600;
}

.border-bottom {
  border-bottom: 1px solid #4C566A;
  padding-bottom: 2em;
}

.note {
  color: #4C566A;
}
</style>