<script setup lang="ts">
import { useCostAssumptions } from '~/store/costs';
import type { CostContent } from '~/types/costs'
import { CategoryContent } from '~/types/category'
import type { TableBaseRowType } from '~/components/Table/Base.vue'
import { LoadingOutlined } from '@ant-design/icons-vue'

import ModalsBasic from '~/components/Calculator/Edit/Modals/Basic.vue'

import useDiscoursePost, { type PostType } from '~/composables/useDiscoursePost'

export interface PresentationProps {
  modalIsOpen?: boolean
  category: CategoryContent | null
}
const props = withDefaults(defineProps<PresentationProps>(), {
  modalIsOpen: false
})

// get the cost assumptions from the store
const costAssumptions = useCostAssumptions()
const items: ComputedRef<CostContent[]> = computed(() => costAssumptions.getCategoryItems(props.category?.slug ?? undefined))

// convert the cost assumptions into rows for the table
const rows: ComputedRef<TableBaseRowType[]> = computed(() => {
  return items.value.map((item: CostContent) => {
    return {
      key: item._id,
      name: item.title,
      amount: costAssumptions.calculateCost(item)
    }
  })
})

const total: ComputedRef<string> = computed(() => {
  return props.category ? costAssumptions.calculateCategoryTotal(props.category) : '0'
})

const emit = defineEmits(['close-modal'])
function handleCloseModal() {
  editingRecord.value = null
  emit('close-modal')
}

const editingRecord = ref<CostContent | null>()
function handleViewEditingRecord(record: TableBaseRowType) {
  // find the item in the items array using the id in the record
  const item = items.value.find((item: CostContent) => item._id === record.key)
  editingRecord.value = item
}

const isEditing = computed(() => {
  return editingRecord.value !== null && editingRecord.value !== undefined;
})

function cancelEditing() {
  editingRecord.value = null
}

const editingComponent = computed(() => {
  const { _id, edit_component } = editingRecord.value ?? {}
  if (!_id || !edit_component) return ModalsBasic
  // Try to dynamically import the component
  try {
    const component = defineAsyncComponent(() =>
      import(`~/components/Calculator/Edit/Modals/${edit_component}.vue`)
    )
    return component
  } catch (error) {
    // If the component does not exist, return the default component
    console.error(`Component ${edit_component} does not exist. Using default component.`, error)
    return ModalsBasic
  }
})

// get the discourse post for the category
const post: Ref<PostType | null> = ref(null)
const postLoading = ref(false)
const indicator = h(LoadingOutlined, {
  style: {
    fontSize: '24px',
  },
  spin: true,
});

watch(() => props.category, async (newCategory) => {
  if (newCategory) {
    postLoading.value = true
    const id = newCategory.discourse_id
    if (!id) return
    post.value = await useDiscoursePost(id)
    postLoading.value = false
  }
}, { immediate: true })
</script>

<template>
  <AModal
    :open="props.modalIsOpen"
    width="70vw"
    :footer="null"
    class="openhouse max-width"
    @cancel="handleCloseModal"
  >
    <template #title>
      <ABreadcrumb class="text-2xl">
        <ABreadcrumb-item class="hover:cursor-pointer" @click="cancelEditing">
          {{ category?.title }}
        </ABreadcrumb-item>
        <ABreadcrumb-item v-if="isEditing">
          {{ editingRecord?.title }}
        </ABreadcrumb-item>
      </ABreadcrumb>
    </template>
    <ASpin v-if="postLoading" :indicator="indicator" />
    <span v-else>
      <!-- This is the category post. Not the individual cost. The individual cost discourse is shown
           below the cost form -->
      <TextClamp v-if="post?.content.length" :text="post?.content" class="w-75p md:w-100p"/>
    </span>

    <div v-if="isEditing">
      <component :is="editingComponent" :content="editingRecord"/>
    </div>
    <section v-else-if="rows.length">
      <TableBase
        :rows="rows"
        :showTotal="true"
        :showSorter="false"
        :sortKey="''"
        :total="total"
        @viewEditingRecord="handleViewEditingRecord"
      />
    </section>
    <section v-else>
      <ATypographyTitle :level="3" class="text-center">
        No items found
      </ATypographyTitle>
    </section>
  </AModal>
</template>
