<script setup lang="ts">
import { UploadOutlined } from '@ant-design/icons-vue'
import { useCostAssumptions } from '~/store/costs'
import { message } from 'ant-design-vue'
import useImportValidation from '~/composables/useImportValidation';

const costAssumptions = useCostAssumptions()

const handleUpload = async (file: File) => {
  const validate = await useImportValidation()
  const reader = new FileReader()
  reader.onload = (e) => {
    if (e.target) {
      try {
        const data = JSON.parse(e.target.result as string)
        const valid = validate(data)
        console.info(validate.errors, 'errors', valid)
        if (!valid) {
          throw new Error(validate.errors ? validate.errors.map(err => err.message).join(', ') : 'Validation failed');
        }
        const { Items, squareFootage } = data
        costAssumptions.updateItems(Items, squareFootage)
        message.success({
          content: 'Upload successful',
          class: 'success-message'
        })
      } catch (error: unknown) {
        if (error instanceof Error) {
          message.error({
            content: `Upload failed: ${error.message}`,
            class: 'error-message'
          })
        }
      }
    }
  }
  reader.readAsText(file)
}
</script>

<template>
  <AUpload :beforeUpload="handleUpload" :showUploadList="false">
    <UploadOutlined /> Upload saved copy
  </AUpload>
</template>

