<script setup lang="ts">
import { CategoryContent } from '~/types/category'
import { useCostAssumptions } from '~/store/costs'

definePageMeta({
  layout: false
})
const groups = await useGroupContent()
const costAssumptions = useCostAssumptions()
await costAssumptions.fetchItems()
await costAssumptions.fetchCategories()

const squareFootage = computed({
  get: () => costAssumptions.squareFootage,
  set: (value) => { costAssumptions.squareFootage = value }
});

const modalIsOpen = ref(false)
const activeCategory = ref<CategoryContent | null>(null)

function handleCloseModal() {
  modalIsOpen.value = false
  activeCategory.value = null
}
function handleOpenModal(category: CategoryContent) {
  modalIsOpen.value = true
  activeCategory.value = category
}

function saveCopy() {
  costAssumptions.saveCopy()
}
</script>

<template>
  <NuxtLayout name="default">
    <template #header>
      <ATypographyTitle class="!mb-0">
        Home Building Cost Calculator
      </ATypographyTitle>
    </template>
    <section>
      <div class="flex flex-row mb-4">
        <div class="basis-1/2">
          <AForm
            :label-col="{ span: 8 }"
            :wrapper-col="{ span: 16 }"
            class="max-w-2xl"
          >
            <AFormItem label="Square Footage" class="label-large">
              <AInput v-model:value="squareFootage" size="large" />
            </AFormItem>
          </AForm>
        </div>
        <div class="basis-1/2 text-right">
          <ADropdown placement="bottomRight">
            <AButton size="large" class="large-icon">
              <template #icon>
                <MenuOutlined :style="{fontSize: '32px'}"/>
              </template>
            </AButton>
            <template #overlay>
              <AMenu>
                <AMenuItem key="1" class="text-2xl" @click="saveCopy">
                  <DownloadOutlined />
                  Save a copy
                </AMenuItem>
                <AMenuItem key="2" class="text-2xl">
                  <CalculatorEditCostUpload />
                </AMenuItem>
              </AMenu>
            </template>
          </ADropdown>
        </div>
      </div>
    </section>
    <section class="cost-list">
      <ACollapse>
        <template #expandIcon="{ isActive }">
          <MinusOutlined v-if="isActive"/>
          <PlusOutlined v-else />
        </template>
        <!-- Loop through the CostGroups -->
        <ACollapsePanel v-for="group in groups" :key="group.slug">
          <template #header>
            <div class="panel-header">
              <span class="left-label">{{ group.title }}</span>
              <span class="right-label">
                {{ costAssumptions.calculateGroupTotal(group.slug) }}
              </span>
            </div>
          </template>
          <div class="tight my-0">
            <div
              class="panel-header border-bottom padded"
              v-for="category in costAssumptions.getGroupCategories(group.slug)" :key="category.slug"
              @click.prevent="handleOpenModal(category)"
            >
              <span class="left-label">{{ category.title }}</span>
              <span class="right-label">
                {{ costAssumptions.calculateCategoryTotal(category.slug) }}
              </span>
            </div>
          </div>
        </ACollapsePanel>
      </ACollapse>
      <div class="flex flex-row justify-between total">
        <div class="text-2xl font-bold">Total</div>
        <div class="text-2xl font-bold">{{ costAssumptions.calculateTotal }}</div>
      </div>
    </section>
    <CalculatorGroupModal
      :modal-is-open="modalIsOpen"
      :category="activeCategory"
      @close-modal="handleCloseModal"
    />
  </NuxtLayout>
</template>

<style scoped lang="stylus">
.panel-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  &:hover {
    cursor: pointer;
  }
  &.padded {
    padding: 0 42px;
  }
}

.left-label {
  margin-right: 10px;
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

</style>

<style lang="stylus">
.cost-list {
  .ant-collapse {
    font-size: 1.5rem;
    line-height: 3rem;
    .tight {
      font-size: 1.3rem;
      margin: -16px;
      padding: 0;
    }
  }
  .ant-collapse>.ant-collapse-item >.ant-collapse-header {
    align-items: center;
  }
}

.total {
  margin: 15px 16px 15px 38px;
}

</style>